{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -Profil{% endblock %}

{% block main %}

    <div>Prénom :</div>
    <div>Nom :</div>
    <div>Téléphone :</div>
    <div>Email :</div>





















{% endblock %}
