h2{
    font-size: 2.5em;
    text-align: center;
    color: #DDDDDD;
}

input, textarea, #trip_siteOrganiser, #trip_city, #trip_place{
    background-color: #c2b8b2;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2f323a;
    padding-left: 5px;
}

#trip_dateTimeStart_date_month, #trip_dateTimeStart_date_day, #trip_dateTimeStart_date_year, #trip_dateTimeStart_time_hour, #trip_dateTimeStart_time_minute, #trip_dateLimitInscription_month, #trip_dateLimitInscription_day, #trip_dateLimitInscription_year{
    background-color: #c2b8b2;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #2f323a;
    padding-left: 5px;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.test{
    width: 35%;
}

.divform{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divform a,.divform button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;
}

main{
    min-height: calc(100vh - 245px);
}

.divdivplus{
    width: 50px;
    height: 50px;
}

.divPlus{
    height: 26px;
    margin-top: 222%;
}

.divPlus a{
    background-color: #c2b8b2;
    color: #2f323a;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5em;
}

li{
    display: flex;
    justify-content: end;
    font-size: 16px ;
    color: black;
    background-color: #FF8C00;
    border: black solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    width: fit-content;
}