.form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    flex-wrap: wrap;
}
main{
    min-height: calc(100vh - 245px);
}
.block{
    width: 400px;
    margin: 10px;
}

.divform{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
}

select, #filter_search, #filter_start, #filter_end{
    background-color: #c2b8b2;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2f323a;
    padding-left: 5px;
}

#date{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#blockSearch{
    display: flex;
    align-items: center;
}

#search{
    display: flex;
    justify-content: center;
}

.divform button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
}

table{
    border: #c2b8b2 solid 6px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.table_scroll{
    height: 30em;
    overflow-y: scroll;
}

th, td {
    border-bottom: 1px solid #c2b8b2;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

th{
    color: chartreuse;
}

td a{
    color: #c2b8b2;
}

.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;
}