h1{
    text-align: center;
    color: #DDDDDD;
}


.blockPrincipale{
    border: solid 1px #b80c09;
    width: fit-content;

}


.global {
    display: flex;
    justify-content: center;
    flex-direction: column;
  border: solid 1px #b80c09;


}

.block {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 20px;
    border: solid 1px #b80c09;
    width: 100%;

}
main{
    min-height: calc(100vh - 245px);
}


.button a,.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;

}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
}