h1{
    text-align: center;
}

.profil div{
    text-align: center;
}
main{
    min-height: calc(100vh - 245px);
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;

}
