h2{
    text-align: center;
    font-size: 2.5em;
    color: #DDDDDD;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.principale{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 200px;
}

.secondaire{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.participant{
    width: 50%;
    max-height: 10%;
    border: solid 1px;
}

h4{
    text-decoration: underline;
    font-size: 2em;
}

table{
    width:100%;
    table-layout: fixed;
}

.tabHeader{
    border: #c2b8b2 solid 6px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: #c2b8b2 solid 2px;
}

.tabContent{
    border: #c2b8b2 solid 6px;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    color: #c2b8b2;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 1.2em;
    color: #c2b8b2;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

td a{
    color: #c2b8b2;
    text-decoration: none;
}