
img{
    max-width: 150px;
}

body{
    background: linear-gradient(dimgrey , #2f323a) ;
    color: #c2b8b2;
    background-attachment:fixed ;
    background-position: center center;
    background-size: cover ;
    margin-right: 20px;
    margin-left: 30px;

}
main{
    min-height: calc(100vh - 245px);
}

header{
    background-color: #c2b8b2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.alert{
    display: flex;
    justify-content: center;
}
.alert-success{
    border: 1px solid green;
    width: fit-content;
    height: 19px;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.alert-warning{
    border: 1px solid darkred;
    width: fit-content;
    height: 19px;
    background-color: red;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

nav{
    padding-right: 40px;
    width: 550px;
    min-height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
}

footer{
    display: flex;
    justify-content: center;
}