
.global {
    display: flex;
    justify-content: center;
    border: 1px #b80c09;
    width: 85%;
}

h1{
    font-size: 2.5em;
    text-align: center;
    color: #DDDDDD;
}

.divform{

    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 20px;
    border: 1px #b80c09;
    width: 80%;
}

.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 50px 20px;
    justify-content: space-around;
}

input, select{
    background-color: #c2b8b2;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2f323a;
    padding-left: 5px;
}

main{
    min-height: calc(100vh - 245px);
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    display: flex;
    font-size: 16px ;
    color: black;
    background-color: #FF8C00;
    border: black solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}

.imageProfile{
    float: left;
    border-radius: 100%;
}

input [type="file" i] {
    width: 25.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#participant_imageProfile{
    background-color: transparent;
    border: none;
    width: 240px;
    visibility: hidden;
}

input[type="file"] {
    color: #c2b8b2;
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 8px;
}

.button-wrap {
    position: relative;
    padding-left: 10px;
}

.upload{
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #c2b8b2;
    color: black;
}

#upload{
    display: flex;
    justify-content: flex-start;
}