
.global {
    display: flex;
    justify-content: center;
    border: 1px #b80c09;
}

h1{
    font-size: 2.5em;
    text-align: center;
    color: #DDDDDD;
}

.divform{

    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 20px;
    border: 1px #b80c09;
    width: 80%;
}

.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #b80c09;
    height: 40px;
    width: 120px;
    text-decoration: none;
    color: #c2b8b2;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 50px 20px;
    justify-content: space-around;
}

input, select{
    background-color: #c2b8b2;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2f323a;
    padding-left: 5px;
}

main{
    min-height: calc(100vh - 245px);
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    display: flex;
    font-size: 16px ;
    color: black;
    background-color: #FF8C00;
    border: black solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;

}