{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - error{% endblock %}

{% block head %}<link rel="stylesheet" href={{ asset('css/error404.css') }}>{% endblock %}

{% block main %}

    <h1>Désolé une erreur est survenu.</h1>

{% endblock %}
